	<!-- footer  -->
  <footer class="ru-footer">
    <div class="ru-container">
      <div class="ru-footer-top">
        <div class="ru-footer-top_left">
          <div class="ru-footer-top_left-logo">
            <img src="images/logo/logo.png" alt="logo" />
          </div>
          <p class="ru-footer-top_left-text">
            "RESTURENT" is a culinary oasis dedicated to crafting delectable
            experiences for food enthusiasts worldwide. From savory delights
            to sweet indulgences, our company specializes in creating gourmet
            treats that tantalize taste buds and ignite culinary passions.
          </p>
        </div>
        <div class="ru-footer-top_right">
          <div class="ru-footer-links">
            <h3 class="ru-footer-title">Quick Links</h3>
            <ul class="ru-footer-list">
              <li><a class="list" href="#">About</a></li>
              <li><a class="list" href="#">Blog</a></li>
              <li><a class="list" href="#">Our Service</a></li>
              <li><a class="list" href="#">Dishes service</a></li>
              <li><a class="list" href="#">Wishes service</a></li>
            </ul>
          </div>
          <div class="ru-footer-links opening-hours">
            <h3 class="ru-footer-title">Opening Hours</h3>
            <ul class="ru-footer-hours">
              <li>
                <div class="list">
                  <p class="day">
                    <span class="icon"
                      ><iconify-icon
                        icon="radix-icons:dot-filled"
                      ></iconify-icon
                    ></span>
                    <span>Sunday - Thursday</span>
                  </p>
                  <p class="time">08:00 am - 09:00pm</p>
                </div>
              </li>
              <li>
                <div class="list">
                  <p class="day">
                    <span class="icon"
                      ><iconify-icon
                        icon="radix-icons:dot-filled"
                      ></iconify-icon
                    ></span>
                    <span>Sunday - Thursday</span>
                  </p>
                  <p class="time">08:00 am - 09:00pm</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="ru-footer-links contact">
            <h3 class="ru-footer-title">Contact</h3>
            <ul class="ru-footer-contact">
              <li>
                <a href="#">
                  <div class="lists">
                    <p class="icon">
                      <iconify-icon icon="heroicons:envelope"></iconify-icon>
                    </p>
                    <div class="content">
                      <p class="title">Email:</p>
                      <p class="value">flashmessage@gmail.com</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="lists">
                    <p class="icon">
                      <iconify-icon icon="heroicons:map-pin"></iconify-icon>
                    </p>
                    <div class="content">
                      <p class="title">Location:</p>
                      <p class="value">Dhaka, Bangladesh</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- news letter  -->
            <div class="fu-news-sub">
              <form action="">
                <h3 class="fu-news-sub-title">news letter</h3>

                <div class="fu-news-sub-wrap">
                  <input
                    class="fu-news-sub-input"
                    type="email"
                    placeholder="Enter your email"
                  />
                  <button type="submit" class="fu-news-sub-btn">
                    <iconify-icon icon="carbon:send-filled"></iconify-icon>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="ru-footer-bottom">
        <p class="ru-footer-bottom_copy">© Copyright 2024 RESTAURANT</p>
        <ul class="ru-footer-bottom_social">
          <li>
            <a href="#">
              <iconify-icon icon="ri:facebook-fill"></iconify-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <iconify-icon icon="ri:linkedin-fill"></iconify-icon>
            </a>
          </li>
          <li>
            <a href="#"> <iconify-icon icon="mdi:twitter"></iconify-icon> </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- jquery  -->
  <script src="plugins/jquery/jquery-3.7.1.min.js"></script>

  <!-- bootstrap -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- swiperjs -->
  <script src="plugins/swiperjs/swiper-bundle.min.js"></script>

  <!-- js  -->
  <script src="js/script.js"></script>
</body>
</html>
