* {
	margin: 0;
	padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

ul,
li {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
	user-select: none;
}

button {
	color: inherit;
	background: transparent;
	border: none;
	cursor: pointer;
	user-select: none;
}

img {
	user-select: none;
	max-width: 100%;
	width: 100%;
}

span {
	display: inline-flex;
}
iframe {
	width: 100%;
}
.ru-container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 50px);
	@include responsive('sm') {
		width: calc(100% - 20px);
	}
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.pt-72 {
	padding-top: 72px;
}

.swiper-pagination {
	bottom: 72px !important;
	&-bullet {
		background-color: #fff;
		opacity: 1;
		width: 12px;
		height: 12px;
		border-radius: 5px;
		&-active {
			background-color: #b99272;
			opacity: 1;
			width: 36px;
		}
	}
}

main {
	min-height: calc(100vh - 72px);
}
