<!-- Amenities -->
<section class="ru-amenities">
    <div class="rud-header-text">
        <h2 class="highlight">OUR AMENITIES</h2>
        <h1 class="head">our Amenities</h1>
        <p class="normal">
            "Amenities" refer to features or facilities that enhance the
            comfort, convenience, or enjoyment of a place, such as a building,
            neighborhood, or community
        </p>
    </div>
     

    <div class="ru-container">
        <div class="ru-amenities_container">
            <div class="ru-amenities_imageBox">
                <img
                    src="images/amenities/amenities-1.jpg"
                    alt="amenities"
                />
            </div>
            <div class="ru-amenities_content">
                <h1 class="ru-amenities_content-title">live music den</h1>
                <p class="ru-amenities_content-desc">
                    Outdoor seating is one of the many permanent changes the
                    pandemic brought to the restaurant industry. Even after
                    mandates, many restaurant goers opt to sit outdoors for the
                    fresh air, relaxed setting, and scenic views. With added space
                    you can:
                </p>
                <table class="ru-amenities_content-list">
                    <tr>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Decrease wait time</span>
                            </div>
                        </td>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Increase seating capacity</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Draw in more passerbys</span>
                            </div>
                        </td>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Offer entertainment</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="ru-amenities_content-desc">
                    To create an ambient outdoor space, add decorative lighting,
                    faux grass, and comfortable furniture.
                </p>
            </div>
        </div>
        <div class="ru-amenities_container reverse">
            <div class="ru-amenities_imageBox">
                <img
                    src="images/amenities/amenities-2.jpg"
                    alt="amenities"
                />
            </div>
            <div class="ru-amenities_content">
                <h1 class="ru-amenities_content-title">Getting creative</h1>
                <p class="ru-amenities_content-desc">
                    High-speed internet not fitting into the budget? Encourage
                    diners to disconnect by offering creative solutions that inspire
                    interaction.Your guests will feel like a local in no time. These
                    can include:
                </p>
                <table class="ru-amenities_content-list">
                    <tr>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Board games</span>
                            </div>
                        </td>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Trivia nights</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Free library</span>
                            </div>
                        </td>
                        <td>
                            <div class="ru-amenities_content-list-item">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:check-circle-20-solid"
                                    ></iconify-icon
                                ></span>
                                <span>Discussion cards</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="ru-amenities_content-desc">
                    To create an ambient outdoor space, add decorative lighting,
                    faux grass, and comfortable furniture.
                </p>
            </div>
        </div>
    </div>
</section>