	<!-- best menu list  -->
    <section class="rud-best-menu">
        <div class="ru-container">
            <div class="wrap">
                <div class="rud-header-text">
                    <h2 class="highlight">CHOOSE BEST MENUS</h2>
                    <h3 class="title">Kaffen Popular Foods Menu</h3>
                </div>

                <div class="rud-best-menu-list">
                    <ul class="items">
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="items">
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="items">
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                        <li>
                            <div class="list">
                                <h2 class="list-title">Chicken</h2>
                                <h3 class="list-desc">Sed ut perspiciatis unde</h3>
                                <p class="list-price">$14.95</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
