<section class="rud-blog-news">
    <div class="ru-container">
        <div class="rud-header-text">
            <h2 class="highlight">GET EVERY SINGLE UPDATE</h2>
            <h1 class="title">Read Some Latest Blog & News</h1>
        </div>
        <div class="rud-blog-news_container">
            <div class="item">
                <div class="img-box">
                    <a href="">
                        <img src="images/cateogry/1.png" alt="item" />
                    </a>
                </div>
                <div class="content">
                    <a class="item-title" href="#">Incredible Vegan Cheese</a>

                    <p class="item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
                        sequi commodi dignissimos.
                    </p>

                    <div class="item-times">
                        <p class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:calendar-days"
                                ></iconify-icon
                            ></span>
                            <span>March 22/2024</span>
                        </p>

                        <a href="#" class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:chat-bubble-oval-left-16-solid"
                                ></iconify-icon
                            ></span>
                            <span>2 Comment;s</span>
                        </a>
                    </div>
                </div>
                <p class="rud-badge">Restaurant</p>
            </div>
            <div class="item">
                <div class="img-box">
                    <a href="">
                        <img src="images/cateogry/1.png" alt="item" />
                    </a>
                </div>
                <div class="content">
                    <a class="item-title" href="#">Incredible Vegan Cheese</a>

                    <p class="item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
                        sequi commodi dignissimos.
                    </p>

                    <div class="item-times">
                        <p class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:calendar-days"
                                ></iconify-icon
                            ></span>
                            <span>March 22/2024</span>
                        </p>

                        <a href="#" class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:chat-bubble-oval-left-16-solid"
                                ></iconify-icon
                            ></span>
                            <span>2 Comment;s</span>
                        </a>
                    </div>
                </div>
                <p class="rud-badge">Restaurant</p>
            </div>
            <div class="item">
                <div class="img-box">
                    <a href="">
                        <img src="images/cateogry/1.png" alt="item" />
                    </a>
                </div>
                <div class="content">
                    <a class="item-title" href="#">Incredible Vegan Cheese</a>

                    <p class="item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
                        sequi commodi dignissimos.
                    </p>

                    <div class="item-times">
                        <p class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:calendar-days"
                                ></iconify-icon
                            ></span>
                            <span>March 22/2024</span>
                        </p>

                        <a href="#" class="time">
                            <span class="icon"
                                ><iconify-icon
                                    icon="heroicons:chat-bubble-oval-left-16-solid"
                                ></iconify-icon
                            ></span>
                            <span>2 Comment;s</span>
                        </a>
                    </div>
                </div>
                <p class="rud-badge">Restaurant</p>
            </div>
        </div>
    </div>
</section>