<section class="rud-lunch-dinner">
    <div class="ru-container">
        <div class="wrap">
            <div class="rud-header-text">
                <h3 class="title">Make Your Reservation</h3>
                <p class="normal">
                    Appetizers tantalize your taste buds with their creativity and
                    finesse. Perhaps you start with delicate bruschetta, featuring
                    ripe tomatoes, fragrant basil, and creamy mozzarella atop crisp,
                    golden toast The Flavors of Portugal.
                </p>
            </div>

            <div class="rud-lunch-dinner_wrap">
                <div class="content">
                    <div class="ld-text">
                        <h3 class="ld-title">
                            Our <span class="marked">Everyday opening</span>
                        </h3>
                        <p class="ld-normal">
                            Indulge in the rich and diverse flavors of Portugal with our
                            traditionally inspired Portuguese Tradition menu that
                            showcases some of the most beloved dishes for lunch and
                            dinner.
                        </p>
                    </div>
                    <div class="ld-time">
                        <h3 class="ld-time-title">Our opening Time</h3>
                        <div class="item-times">
                            <p class="time">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                                <span>March 22/2024</span>
                            </p>

                            <a href="#" class="time">
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:chat-bubble-oval-left-16-solid"
                                    ></iconify-icon
                                ></span>
                                <span>2 Comment;s</span>
                            </a>
                        </div>
                    </div>
                    <div class="ld-img">
                        <img src="images/sing/1.jpg" alt="" />
                        <img src="images/sing/1.jpg" alt="" />
                    </div>
                </div>
                <form class="rud-form" action="">
                    <div class="rud-booking-from">
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="text"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:pencil-square"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item span-2">
                            <div class="ru-form_item-input">
                                <textarea
                                    style="height: auto"
                                    class="ru-input"
                                    name=""
                                    rows="3"
                                    id=""
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn-rud-primary">
                            <span>Book a Table</span>
                            <span class="icon">
                                <iconify-icon icon="heroicons:arrow-right"></iconify-icon>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ru-container">
        <h3 class="luc-hour-title">
            Our <span class="lu-marked"> Happy Hours </span>
        </h3>
        <ul class="luc-hours-lists">
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="img">
                        <img src="images/hours/1.png" alt="image" />
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="name">Any Cocktail With Cod Fish Cake</h3>
                            <p class="desc">
                                Lorem, ipsum, dolor, amet, consectetur, adipisicing elit.
                            </p>
                        </div>
                        <p class="info-desc">
                            <span class="info-badge">Only 6 Euro</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>