	<!-- BOOKING TABLE -->
    <section class="rud-booking">
        <div class="wrap">
            <div class="rud-header-text">
                <h2 class="highlight">BOOKING TABLE</h2>
                <h3 class="title">Make Your Reservation</h3>
            </div>

            <div>
                <form action="">
                    <div class="rud-booking-from">
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                        <div class="ru-form_item">
                            <div class="ru-form_item-input">
                                <input
                                    placeholder="Pick a date"
                                    type="date"
                                    id="date"
                                    class="ru-input"
                                />
                                <span class="icon"
                                    ><iconify-icon
                                        icon="heroicons:calendar-days"
                                    ></iconify-icon
                                ></span>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn-rud-primary">
                            <span>Book a Table</span>
                            <span class="icon">
                                <iconify-icon icon="heroicons:arrow-right"></iconify-icon>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>