<!-- hero section -->
<section class="rud-banner">
    <div class="swiper mySwiper-home1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div
                    style="background-image: url('images/banner/1.jpg')"
                    class="ru-hero-slider"
                >
                    <div class="ru-container">
                        <div class="rud-header-text">
                            <h1 class="head">Welcome To our LISBOA Restaurant</h1>
                            <p class="desc">
                                The sizzle of the hot skillet dances in the air, teasing
                                your senses as fragrant clouds of spices rise like wisps
                                of culinary poetry.
                            </p>
                            <div class="actions">
                                <a class="btn-rud-primary lg" href="#">Book a table</a>
                                <a class="btn-rud-primary lg normal" href="#"
                                    >Open Menu</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    style="background-image: url('images/banner/1.jpg')"
                    class="ru-hero-slider"
                >
                    <div class="ru-container">
                        <div class="rud-header-text">
                            <h1 class="head">Welcome To our LISBOA Restaurant</h1>
                            <p class="desc">
                                The sizzle of the hot skillet dances in the air, teasing
                                your senses as fragrant clouds of spices rise like wisps
                                of culinary poetry.
                            </p>
                            <div class="actions">
                                <a class="btn-rud-primary lg" href="#">Book a table</a>
                                <a class="btn-rud-primary lg normal" href="#"
                                    >Open Menu</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>