<!-- menu list  -->
<section class="about-us-menu">
    <div class="ru-container">
        <div class="ru-items-list">
            <div
                style="background-image: url('images/menu-list/1.png')"
                class="item"
            >
                <div class="item-content">
                    <div class="icon">
                        <iconify-icon
                            icon="material-symbols:restaurant"
                        ></iconify-icon>
                    </div>
                    <h3 class="title">Restaurant menu</h3>
                </div>
            </div>
            <div
                style="background-image: url('images/menu-list/1.png')"
                class="item"
            >
                <div class="item-content">
                    <div class="icon">
                        <iconify-icon
                            icon="material-symbols:restaurant"
                        ></iconify-icon>
                    </div>
                    <h3 class="title">Restaurant menu</h3>
                </div>
            </div>
            <div
                style="background-image: url('images/menu-list/1.png')"
                class="item"
            >
                <div class="item-content">
                    <div class="icon">
                        <iconify-icon
                            icon="material-symbols:restaurant"
                        ></iconify-icon>
                    </div>
                    <h3 class="title">Restaurant menu</h3>
                </div>
            </div>
        </div>
    </div>
</section>