<section class="rud-chefs">
    <div class="ru-container">
        <div class="rud-header-text">
            <h1 class="title">OUR PROFESSIONAL CHEFS</h1>
            <p class="normal">
                A professional networking platform for chefs where they can create
                a profile, showcase their work, connect with other industry
                professionals, and explore job opportunities.
            </p>
        </div>
        <div class="ru-chefs_container">
            <div class="ru-chefs_item">
                <div class="img-box">
                    <a href="">
                        <img src="images/chefs/chef-1.jpg" alt="chefs" />
                    </a>
                </div>
                <div class="item-content">
                    <p class="role">Master Chef</p>
                    <hr />
                    <a href="">
                        <p class="name">Dylan Meringue</p>
                    </a>

                    <p class="exp">
                        <span class="icon"
                            ><iconify-icon
                                icon="material-symbols-light:circle"
                            ></iconify-icon
                        ></span>
                        <span>12 year Experience</span>
                    </p>
                </div>
            </div>
            <div class="ru-chefs_item">
                <div class="img-box">
                    <a href="">
                        <img src="images/chefs/chef-1.jpg" alt="chefs" />
                    </a>
                </div>
                <div class="item-content">
                    <p class="role">Master Chef</p>
                    <hr />
                    <a href="">
                        <p class="name">Dylan Meringue</p>
                    </a>

                    <p class="exp">
                        <span class="icon"
                            ><iconify-icon
                                icon="material-symbols-light:circle"
                            ></iconify-icon
                        ></span>
                        <span>12 year Experience</span>
                    </p>
                </div>
            </div>
            <div class="ru-chefs_item">
                <div class="img-box">
                    <a href="">
                        <img src="images/chefs/chef-1.jpg" alt="chefs" />
                    </a>
                </div>
                <div class="item-content">
                    <p class="role">Master Chef</p>
                    <hr />
                    <a href="">
                        <p class="name">Dylan Meringue</p>
                    </a>

                    <p class="exp">
                        <span class="icon"
                            ><iconify-icon
                                icon="material-symbols-light:circle"
                            ></iconify-icon
                        ></span>
                        <span>12 year Experience</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="rud-load-more">
            <a href="#" class="btn-rud-primary"
                ><span>VIEW MORE</span>
                <span class="icon">
                    <iconify-icon
                        icon="heroicons:arrow-right"
                    ></iconify-icon> </span
            ></a>
        </div>
    </div>
</section>