<!-- our chefs  -->
<section class="rud-chefs">
    <div class="ru-container">
        <div class="rud-header-text">
            <h1 class="title">OUR PROFESSIONAL CHEFS</h1>
            <p class="normal">
                A professional networking platform for chefs where they can create
                a profile, showcase their work, connect with other industry
                professionals, and explore job opportunities.
            </p>
        </div>
        <div class="rud-chefs_container">
            <div class="rud-chefs_item">
                <div class="content">
                    <div class="chef-name">Dylan Meringue</div>
                    <p class="chef-title">Master Chef</p>
                </div>
                <div class="chef-img">
                    <img src="images/chefs/1.png" alt="chef" />
                </div>
            </div>
            <div class="rud-chefs_item">
                <div class="content">
                    <div class="chef-name">Dylan Meringue</div>
                    <p class="chef-title">Master Chef</p>
                </div>
                <div class="chef-img">
                    <img src="images/chefs/1.png" alt="chef" />
                </div>
            </div>
            <div class="rud-chefs_item">
                <div class="content">
                    <div class="chef-name">Dylan Meringue</div>
                    <p class="chef-title">Master Chef</p>
                </div>
                <div class="chef-img">
                    <img src="images/chefs/1.png" alt="chef" />
                </div>
            </div>
        </div>
        <div class="rud-load-more">
            <a href="#" class="btn-rud-primary"
                ><span>VIEW MORE</span>
                <span class="icon">
                    <iconify-icon
                        icon="heroicons:arrow-right"
                    ></iconify-icon> </span
            ></a>
        </div>
    </div>
</section>