<!-- popular categories -->
<section class="rud-pup-categories">
    <div class="ru-container">
        <div class="rud-pup-categories-content">
            <div class="left">
                <div class="img-box">
                    <img src="images/cateogry/1.png" alt="" />
                    <img src="images/cateogry/1.png" alt="" />
                </div>
                <div class="img-box">
                    <img src="images/cateogry/1.png" alt="" />
                    <img src="images/cateogry/1.png" alt="" />
                </div>
            </div>
            <div class="right">
                <div class="contents">
                    <h2 class="highlight">POPULAR CATEGORIES</h2>
                    <h3 class="title">Choose Your Best FoodFrom Categories</h3>
                    <p class="desc">
                        Sed ut perspiciatis unde omnis iste natus error accusantium
                        doloremque laudantium, totam rem aperiam eaque ipsa quae
                        abillo inventore veritatis quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsluptatem quia voluptas sit
                        aspernatur aut odit aut fugit sed quia con nam.
                    </p>
                    <div class="actions">
                        <a class="btn-rud-primary lg" href="#">
                            <span>Explore more categories</span>
                            <span class="icon">
                                <iconify-icon
                                    icon="heroicons:arrow-long-right-16-solid"
                                ></iconify-icon>
                            </span>
                        </a>
                        <a class="btn-rud-primary lg normal" href="#">
                            <span class="icon">
                                <iconify-icon
                                    icon="heroicons:phone-arrow-up-right-solid"
                                ></iconify-icon>
                            </span>
                            <span>+880 123456789</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>