<!-- reviews  -->
<section class="rud-reviews">
    <div class="ru-container">
        <div class="rud-header-text">
            <h1 class="title">Honest reviews from our customers</h1>
        </div>
        <div class="rud-reviews-container">
            <div class="item">
                <div class="users">
                    <div class="img">
                        <img src="images/user/1.jpg" alt="user" />
                    </div>
                    <p class="u-name">Mila McSabbu</p>
                </div>
                <p class="rev-text">
                    We test and compare the best project management software for
                    collaborating with a team, hitting deadlines.
                </p>
            </div>
            <div class="item">
                <div class="users">
                    <div class="img">
                        <img src="images/user/1.jpg" alt="user" />
                    </div>
                    <p class="u-name">Mila McSabbu</p>
                </div>
                <p class="rev-text">
                    We test and compare the best project management software for
                    collaborating with a team, hitting deadlines.
                </p>
            </div>
            <div class="item">
                <div class="users">
                    <div class="img">
                        <img src="images/user/1.jpg" alt="user" />
                    </div>
                    <p class="u-name">Mila McSabbu</p>
                </div>
                <p class="rev-text">
                    We test and compare the best project management software for
                    collaborating with a team, hitting deadlines.
                </p>
            </div>
        </div>
    </div>
</section>