<section class="rud-special">
    <div class="ru-container">
        <div class="rud-header-text text-center">
            <h3 class="title">special moment</h3>
            <p class="normal">
                A professional networking platform for chefs where they can create
                a profile, showcase their work, connect with other industry
                professionals, and explore job opportunities.
            </p>
        </div>

        <div class="ru-special-items">
            <div
                style="
                    background-image: url('images/special/special-1.svg');
                "
                class="item"
            >
                <div>
                    <p class="badge">Schedule</p>
                    <p class="name">Jazz, Bossa Nova</p>
                    <p class="date">
                        <span class="icon"
                            ><iconify-icon
                                icon="heroicons:calendar-days-solid"
                            ></iconify-icon>
                        </span>
                        <span class=" ">Thu- Sun (7:00pm-11:00pm)</span>
                    </p>
                </div>
            </div>
            <div
                style="
                    background-image: url('images/special/special-1.svg');
                "
                class="item"
            >
                <div>
                    <p class="badge">Schedule</p>
                    <p class="name">Jazz, Bossa Nova</p>
                    <p class="date">
                        <span class="icon"
                            ><iconify-icon
                                icon="heroicons:calendar-days-solid"
                            ></iconify-icon>
                        </span>
                        <span class=" ">Thu- Sun (7:00pm-11:00pm)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
